<a href="https://colab.research.google.com/github/aishwaryajadhav/Python-programs/blob/master/Pharma_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Problem Statement:** 
To predict if a patient will survive after 1 year of treatment. 

Target Variable: Survived_1_year contains values 0/1 denoting whether the patient Surviced/Did not survive after a year of treatment. This is a binary classification problem.

Solution steps:
1. Load data
2. Understand your data: EDA
3. Pre-process the data 
4. Prepare train and test datasets
5. Choose a model
6. Train your model
7. Evaluate the model (F1-score calculation)
8. Optimize: repeat steps 5 - 7

### **Load Libraries**

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
 
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score

### **Load Data**

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')

### **EDA**

Primary screenings: 
1. Get a look at the data, its columns and kind of values contained in these columns: df.head()
2. Stepping back a bit, get a look at the column overview: number, types, NULL counts: df.info()

In [ ]:
data.head()

In [ ]:
data.info()

First off, we will look at the distribution of our target variable to determine if we have a balanced dataset

In [ ]:
sns.countplot(x='Survived_1_year', data)
plt.show()

Next, we will perform EDA with our continuous variables

---

In [ ]:
numeric_features = data.select_dtypes(include=[np.number])
numeric_features.columns

In [ ]:
numeric_data=data[['Patient_Age', 'Patient_Body_Mass_Index', 'Number_of_prev_cond', 'Survived_1_year']]  #keeping in the target varibale for analysis purposes
numeric_data.head()

In [ ]:
numeric_data.info()

In [ ]:
numeric_data.isnull().sum()

We can see there are a lot of missing values for Number_of_prev_cond. We will fill these with the mode

In [ ]:
data['Number_of_prev_cond'].fillna(data['Number_of_prev_cond'].mode()[0], inplace = True)
numeric_data.drop(['Number_of_prev_cond'], axis=1)
numeric_data['Number_of_prev_cond']=data['Number_of_prev_cond']
numeric_data.isnull().sum()

In [ ]:
for feature in numeric_data.columns[:-1]:
  sns.boxplot(x='Survived_1_year', y=feature, data=numeric_data)
  sns.swarmplot(x='Survived_1_year', y=feature, data=numeric_data)
  plt.show()

### Missing values

In [ ]:
data.isnull().sum()

ID_Patient_Care_Situation       0
Diagnosed_Condition             0
Patient_ID                      0
Treated_with_drugs             13
Patient_Age                     0
Patient_Body_Mass_Index         0
Patient_Smoker                  0
Patient_Rural_Urban             0
Patient_mental_condition        0
A                            1235
B                            1235
C                            1235
D                            1235
E                            1235
F                            1235
Z                            1235
Number_of_prev_cond          1235
Survived_1_year                 0
dtype: int64

In [ ]:
drugs = data.select_dtypes(include = 'object').columns

In [ ]:
data[drugs] = data[drugs].fillna(data[drugs].mode().iloc[0])

In [ ]:
data.isnull().sum()

ID_Patient_Care_Situation       0
Diagnosed_Condition             0
Patient_ID                      0
Treated_with_drugs              0
Patient_Age                     0
Patient_Body_Mass_Index         0
Patient_Smoker                  0
Patient_Rural_Urban             0
Patient_mental_condition        0
A                            1235
B                            1235
C                            1235
D                            1235
E                            1235
F                            1235
Z                            1235
Number_of_prev_cond          1235
Survived_1_year                 0
dtype: int64

In [ ]:
encoder = LabelEncoder()
encoder.fit(data['Treated_with_drugs'])
encoder.classes_

array(['DX1 ', 'DX1 DX2 ', 'DX1 DX2 DX3 ', 'DX1 DX2 DX3 DX4 ',
       'DX1 DX2 DX3 DX4 DX5 ', 'DX1 DX2 DX3 DX5 ', 'DX1 DX2 DX4 ',
       'DX1 DX2 DX4 DX5 ', 'DX1 DX2 DX5 ', 'DX1 DX3 ', 'DX1 DX3 DX4 ',
       'DX1 DX3 DX4 DX5 ', 'DX1 DX3 DX5 ', 'DX1 DX4 ', 'DX1 DX4 DX5 ',
       'DX1 DX5 ', 'DX2 ', 'DX2 DX3 ', 'DX2 DX3 DX4 ', 'DX2 DX3 DX4 DX5 ',
       'DX2 DX3 DX5 ', 'DX2 DX4 ', 'DX2 DX4 DX5 ', 'DX2 DX5 ', 'DX3 ',
       'DX3 DX4 ', 'DX3 DX4 DX5 ', 'DX3 DX5 ', 'DX4 ', 'DX4 DX5 ', 'DX5 ',
       'DX6'], dtype=object)

In [ ]:
data['Treated_with_drugs'] = encoder.transform(data['Treated_with_drugs'])
data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [ ]:
encoder = LabelEncoder()
encoder.fit(data['Patient_Smoker'])
encoder.classes_

array(['Cannot say', 'NO', 'YES'], dtype=object)

In [ ]:
data['Patient_Smoker'] = encoder.transform(data['Patient_Smoker'])

In [ ]:
encoder = LabelEncoder()
encoder.fit(data['Patient_Rural_Urban'])
encoder.classes_

array(['RURAL', 'URBAN'], dtype=object)

In [ ]:
data['Patient_Rural_Urban'] = encoder.transform(data['Patient_Rural_Urban'])

In [ ]:
encoder = LabelEncoder()
encoder.fit(data['Patient_mental_condition'])
encoder.classes_

array(['Stable'], dtype=object)

In [ ]:
data['Patient_mental_condition'] = encoder.transform(data['Patient_mental_condition'])

In [ ]:
data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [ ]:
data[data["B"].isnull()]

       ID_Patient_Care_Situation  ...  Survived_1_year
27                          4691  ...                0
36                          4869  ...                0
41                         32899  ...                1
97                          9311  ...                1
105                        13511  ...                0
...                          ...  ...              ...
23002                       6195  ...                1
23012                      20220  ...                1
23024                      25571  ...                1
23038                        644  ...                1
23054                      20927  ...                1

[1235 rows x 18 columns]

In [ ]:
data['A'].fillna(data['A'].mode()[0], inplace = True)

In [ ]:
data['B'].fillna(data['B'].mode()[0], inplace = True)

In [ ]:
data['C'].fillna(data['C'].mode()[0], inplace = True)

In [ ]:
data['D'].fillna(data['D'].mode()[0], inplace = True)

In [ ]:
data['E'].fillna(data['E'].mode()[0], inplace = True)

In [ ]:
data['F'].fillna(data['F'].mode()[0], inplace = True)

In [ ]:
data['Z'].fillna(data['Z'].mode()[0], inplace = True)

In [ ]:

data['Number_of_prev_cond'].fillna(data['Number_of_prev_cond'].mode()[0], inplace = True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23097 entries, 0 to 23096
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  23097 non-null  int64
 1   Diagnosed_Condition        23097 non-null  int64
 2   Patient_ID                 23097 non-null  int64
 3   Treated_with_drugs         23097 non-null  int64
 4   Patient_Age                23097 non-null  int64
 5   Patient_Body_Mass_Index    23097 non-null  float64
 6   Patient_Smoker             23097 non-null  int64
 7   Patient_Rural_Urban        23097 non-null  int64
 8   Patient_mental_condition   23097 non-null  int64
 9   A                          23097 non-null  float64
 10  B                          23097 non-null  float64
 11  C                          23097 non-null  float64
 12  D                          23097 non-null  float64
 13  E                          23097 non-null  float64
 14  F                          23097 non-null  float64
 15  Z                          23097 non-null  float64
 16  Number_of_prev_cond        23097 non-null  float64
 17  Survived_1_year            23097 non-null  int64
dtypes: float64(9), int64(9)
memory usage: 3.2 MB

In [ ]:
data.isnull().sum()

ID_Patient_Care_Situation    0
Diagnosed_Condition          0
Patient_ID                   0
Treated_with_drugs           0
Patient_Age                  0
Patient_Body_Mass_Index      0
Patient_Smoker               0
Patient_Rural_Urban          0
Patient_mental_condition     0
A                            0
B                            0
C                            0
D                            0
E                            0
F                            0
Z                            0
Number_of_prev_cond          0
Survived_1_year              0
dtype: int64

### separate input and output

In [ ]:
X = data.drop('Survived_1_year',axis = 1)
y = data['Survived_1_year']

### Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Model Building

In [ ]:
model = LogisticRegression(max_iter = 1000)
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Prediction

In [ ]:
pred = model.predict(X_test)

In [ ]:
print(f1_score(y_test,pred))

0.7515113935823903

### Random Forest and Boruta

In [ ]:
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest = RandomForestClassifier(n_jobs=-1, max_depth=5, random_state=1)
 
forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
y_pred = forest.predict(X_test)

fscore = f1_score(y_test ,y_pred)
fscore

0.8347687400318979

## Boruta

In [ ]:
!pip install Boruta

Collecting Boruta
  Downloading https://files.pythonhosted.org/packages/b2/11/583f4eac99d802c79af9217e1eff56027742a69e6c866b295cce6a5a8fc2/Boruta-0.3-py3-none-any.whl (56kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61kB 1.8MB/s
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from Boruta) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from Boruta) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from Boruta) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17.1->Boruta) (0.15.1)
Installing collected packages: Boruta
Successfully installed Boruta-0.3

In [ ]:
from boruta import BorutaPy

In [ ]:
boruta_selector = BorutaPy(forest, n_estimators='auto', verbose=2, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	17
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	10
Tentative: 	3
Rejected: 	4
Iteration: 	9 / 100
Confirmed: 	10
Tentative: 	3
Rejected: 	4
Iteration: 	10 / 100
Confirmed: 	10
Tentative: 	3
Rejected: 	4
Iteration: 	11 / 100
Confirmed: 	10
Tentative: 	3
Rejected: 	4
Iteration: 	12 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	13 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	14 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	15 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	16 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	17 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	18 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	19 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	20 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	21 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	22 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	23 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	24 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	25 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	26 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	27 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	28 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	29 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	30 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	31 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	32 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	33 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	34 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	35 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	36 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	37 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	38 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	39 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	4
Iteration: 	40 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	5


BorutaPy finished running.

Iteration: 	41 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	5

BorutaPy(alpha=0.05,
         estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                          class_weight=None, criterion='gini',
                                          max_depth=5, max_features='auto',
                                          max_leaf_nodes=None, max_samples=None,
                                          min_impurity_decrease=0.0,
                                          min_impurity_split=None,
                                          min_samples_leaf=1,
                                          min_samples_split=2,
                                          min_weight_fraction_leaf=0.0,
                                          n_estimators=101, n_jobs=-1,
                                          oob_score=False,
                                          random_state=RandomState(MT19937) at 0x7F4A322F7888,
                                          verbose=0, warm_start=False),
         max_iter=100, n_estimators='auto', perc=100,
         random_state=RandomState(MT19937) at 0x7F4A322F7888, two_step=True,
         verbose=2)

In [ ]:
print("Selected Features: ", boruta_selector.support_)
 

print("Ranking: ",boruta_selector.ranking_)

print("No. of significant features: ", boruta_selector.n_features_)

Selected Features:  [False  True  True  True  True  True  True  True False  True  True  True
  True False False False  True]
Ranking:  [2 1 1 1 1 1 1 1 6 1 1 1 1 3 4 5 1]
No. of significant features:  12

In [ ]:
selected_rfe_features = pd.DataFrame({'Feature':list(X_train.columns),
                                      'Ranking':boruta_selector.ranking_})
selected_rfe_features.sort_values(by='Ranking')

                      Feature  Ranking
16        Number_of_prev_cond        1
1         Diagnosed_Condition        1
2                  Patient_ID        1
3          Treated_with_drugs        1
4                 Patient_Age        1
5     Patient_Body_Mass_Index        1
6              Patient_Smoker        1
7         Patient_Rural_Urban        1
12                          D        1
9                           A        1
10                          B        1
11                          C        1
0   ID_Patient_Care_Situation        2
13                          E        3
14                          F        4
15                          Z        5
8    Patient_mental_condition        6

In [ ]:
X_important_train = boruta_selector.transform(np.array(X_train))
X_important_test = boruta_selector.transform(np.array(X_test))

In [ ]:
rf_important = RandomForestClassifier(n_estimators=10000, random_state=1, n_jobs=-1)


rf_important.fit(X_important_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10000,
                       n_jobs=-1, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
y_important_pred = rf_important.predict(X_important_test)
rf_imp_fscore = f1_score(y_test, y_important_pred)

In [ ]:
print(rf_imp_fscore)

0.8528314682943371